body
{
   font-size: 25px;
   font-family: 'Stint Ultra Condensed', cursive;
   background : linear-gradient(#9600FF,#AEBAF8,#CE9FFC);
}

canvas
{
    border: dashed;
}

button{
    font-size: 30px;
    color: white;
    background-color: black;
}